/* HomePage.css */
.home-page {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  background-image: url('homepage.jpeg');
  background-size: cover;
  padding: 20px;
  
}

.header {
  text-align: center;
  margin-bottom: 0.5rem;
}

/*.container {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 15px;
}*/

/*new code added by mizba for Version3 */
.container {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
  color: white; /* ensures the text is light */
  padding: 20px; /* add some padding */
  border-radius: 10px; /* optional, for rounded corners */
  margin-bottom: 20px;
}

.custom-calendar {
  width: 100%;
  max-width: 1500px; /* Adjust the size as needed */
  /* Add more styling here */
}

.blur {
  filter: blur(8px);
}


.top-bar {
  display: flex; /* Use flexbox to lay out children */
  justify-content: space-between; /* Spread out the children evenly */
  align-items: center; /* Align items vertically */
  padding: 0.5rem 1rem;
  background-color: #000; /* Or any color you prefer for the bar */
  color: white; /* Adjust text color accordingly */
}

  
/* You may need to adjust individual item styles as well */
.top-bar .react-pro-sidebar .pro-menu-item {
  display: inline-block; /* Display menu items inline */
  margin-right: 20px; /* Add some space between menu items */
}

/* Ensure the content div has a top margin to not overlap with the new top bar */
.content {
  flex-grow: 1;
  background-image: url('homepage.jpeg');
  background-size: cover;
  padding: 20px;
}


/* Rest of the CSS remains unchanged */

/* Add more styles as needed */
.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}



.menu-bar {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 0.5rem;
}

.menu-bar .pro-menu-item {
  display: inline-block;
  margin-right: 20px;
  color: white;
}

.top-bar .menu-item {
  margin: 0 20px; /* Add horizontal margin between menu items */
}
/* Rest of the CSS */
